/* common styles */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
}
/* header style */
.header {
  background-color: #fff8f3;
  background-image: url(images/header_bg.png), url("images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, calc(100% - 1530px);
  padding-top: 50px;
}
/* Navigation CSS */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5;
  padding-left: 230px;
  padding-right: 160px;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  color: #474747;
}
.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}
.primary-color {
  color: #fd6e0a;
}
.btn-style {
  font-family: Open Sans;
  border: 0px;
  padding: 15px 35px;
  border-radius: 5px;
  background-color: #fd6e0a;
  color: white;
  font-weight: 700px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
#btn2 {
  padding-right: 20px;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.btn3 {
  font-size: 20px;
  border: 2px solid #fd6e0a;
  padding: 15px 35px;
  border-radius: 5px;
  background-color: #fff8f3;
  color: #fd6e0a;
  font-weight: bolder;
}

.banner-greetings {
  color: #474747;
  font-size: 45px;
  font-weight: 600;
}
.banner-title {
  color: #181818;
  font-size: 85px;
  font-weight: 700;
  margin-bottom: 20px;
}
.banner-description {
  margin-bottom: 30px;
  color: #757575;
  /* font-size: 18px; */
  font-weight: 400;
  line-height: 30px;
}
/* banner style */
.banner {
  padding: 30px 30px 0px 230px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-content {
  max-width: 500px;
}
/* main */
main {
  max-width: 1140px;
  margin: 0 auto;
}
/* about section */
.about {
  background-color: #fff8f3;
  border-radius: 10px;
  text-align: center;
  padding: 130px;
  margin: 130px 0px;
}
.about > h1 {
  color: #181818;
  font-size: 35px;
  margin-bottom: 30px;
}
.about > p {
  margin-bottom: 50px;
  color: #757575;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding: 0px 40px;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
}
.info-description{
    color: #474747;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}
.info-title {
  color: #757575;
  text-align: center;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
/* skill-section */
.skill-section {
  text-align: center;
}
.skill-section > h3 {
  color: #181818;
  font-size: 35px;
  font-weight: 700;
}
.skill-section > p {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 35px;
  padding: 0px 80px;
}
.skill-list {
  display: flex;
}
.skill-info {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.skill-list img {
  margin-bottom: 30px;
}
.skill-title {
  margin-bottom: 20px;
  color: #181818;
  font-size: 20px;
  font-weight: 700;
}
.skill {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  padding: 27px 30px;
  text-align: left;
  margin: 15px;
}
/* resume-section */
.resume-section {
  text-align: center;
}
.resume-section > h1 {
  color: #181818;
  font-size: 35px;
  font-weight: 700;
  margin: 100px;
}
.resume-section h4 {
  color: #757575;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.segment-title {
  color: #474747;
  font-family: Open Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 20px 0px;
}
#btn4 {
  margin-top: 20px;
  margin-bottom: 100px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
.resume-info-title {
  color: #474747;
  font-family: Open Sans;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 10px 0px;
}
.segment {
  display: flex;
  justify-content: space-around;
}
.segment p {
  color: var(--dark-03, #757575);
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin: 10px 0px;
  margin-bottom: 30px;
  padding-right: 90px;
}
hr {
  width: 528px;
}
.resume {
  text-align: left;
  width: 558px;
}
/* footer */
footer {
  background-color: #fff8f3;
}
/* contact section  */
.contact {
  display: flex;
  justify-content: space-around;
  max-width: 1140px;
  margin: 0 auto;
  padding: 130px;
}
.contact-title {
  color: #181818;
  font-family: Open Sans;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: ;
}
.contact-part1 {
  text-align: left;
  width: 562px;
}
.contact-part1 > p {
  color: #474747;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin: 20px 0px;
}
.social-icon {
  margin-right: 20px;
}
.inputbar {
  border: 0px;
  width: 461px;
  height: 64px;
  border-radius: 5px;
  background: #fff;
  color: #757575;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  padding: 0px 30px;
  margin: 15px 0px;
}
.textbar {
  border: 0px;
  width: 461px;
  height: 180px;
  border-radius: 5px;
  background: #fff;
  color: #757575;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin: 15px 0px;
  padding: 20px 30px;
}
